.scoreboard__row {
  cursor: pointer;
}

.scoreboard_title {
  text-align: center;
}

.scoreboard_width {
  max-width: 600px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.button-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

#userSelect {
  flex-grow: 0;
}

#logo {
  cursor: pointer;
}

.full-width-img {
  width: 100%;
}
