table {
  border: 1px solid black;
  table-layout: fixed;
  width: 50%;
}

form {
  margin-top: 0px;
  padding-top: 0px;
}

h1 {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.button-row {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
